@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  position: relative;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  display: flex;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding: 2rem;
  text-align: center;
}
.container h1{
  align-self: center;
 
}

.container .todo-form{
  margin-top: 2em;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.container .todo-form .todo-input{
  width: 85%;
}
.container .todo-form .add-button{
  width: 15%;
  background-color:darkred;
}
.container .todo-items{
  margin-top: 2em;
  width: 100%;
}
.container .todo-items h2{
  width: 100%;
  margin-bottom: 1em;
}
.container .todo-items ul, li{
  padding-left: 1px;
}
.container .todo-items li{
  display:flex;
  justify-content: space-between;
  width: 100%;
}
.container .todo-items  button{
  background: none;
  border: none;
}
.container .todo-items .item-description{
  background: none;
}
.container .todo-items .edit-button:hover{
  color:greenyellow;
}
.container .todo-items .delete-button:hover{
  color:darkred;
}

.footer-container{
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.footer-container .date-footer{
  font-size: 0.75rem;
  margin-top: 1rem;
  text-align: center;
}
.footer-container .people-footer{
  font-size: 1.25rem;
  margin-top: 1rem;
  text-align: center;
}
.universal-footer{
  margin: 1rem;
}
.universal-footer a{
  text-decoration: underline;
}
.universal-footer a:hover{
  text-decoration: underline;
  color: aqua;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
